<%= form_with(model: youtube_channel, local: true) do |form| %>
  <% if youtube_channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(youtube_channel.errors.count, "error") %> prohibited this youtube_channel from being saved:</h2>

      <ul>
        <% youtube_channel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %><br>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>
  
  <div class="field">
    <%= form.label :channel_URL %>
    <%= form.text_field :channel_URL %><br>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
