<div class="row">


	<div class="col-md-8">

		<div class="youtube_channel-info">
		    
		    <%= image_tag(@youtube_channel.image, :size => "100x100", class: "css-style")%>
			<h4 class="youtube_channel-title"><%= @youtube_channel.title %></h4>
			<h2 class="youtube_channel-owner"><strong>Owner:</strong> <%= @youtube_channel.owner %></h2>
			<p>
              <strong>Link:</strong>
              <%= link_to @youtube_channel.channel_URL, target: '_blank' %>
            </p>
			
			<p class="youtube_channels-desc"><strong>Description:</strong> <%= @youtube_channel.description %></p>

            
            <%= link_to "Edit", edit_youtube_channel_path(@youtube_channel), class: "btn btn-custom" %>
			<%= link_to  "Delete", youtube_channels_path(@youtube_channel), :method => :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
			<%= link_to 'Back', youtube_channels_path, class: "btn btn-custom" %>
			
			<span class="number-of-reviews">Based on <%= @youtube_channel.youtube_channel_review.count %> reviews</span>
            <h2>Review List</h2>
            <ul>
            <% @youtube_channel.youtube_channel_review.each do |youtube_channel_review|%>
            <li><%= youtube_channel_review.review %> ( <i><%= youtube_channel_review.rating %> star </i>)
            (<i><%= youtube_channel_review.user.name  %></i>)</li>
            <% end %>
		</div>
	</div>


</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">
			<div>
                <h2>Review From</h2>
                 <%= form_with(model: @youtube_channel_review, local: true) do |form| %>
                   <div class= "field">
                       <span>Review:</span>
                     <%= form.text_area :review %>
                     </div>
                     <div class= "field">
                       <span>Rating:</span>
                     <%= form.number_field :rating, min: 0, max: 5  %>
                     </div>
                    <div>
                     <%= form.hidden_field :youtube_channel_id, :value => @youtube_channel.id %>
                   </div>
                       <div class="actions">
                         <%= form.submit %>
                       </div>
                     <% end %>
			</div>

		</div>	

	</div>

</div>






