<p id="notice"><%= notice %></p>

<h1>Youtube Channel Reviews</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Youtube channel</th>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @youtube_channel_reviews.each do |youtube_channel_review| %>
      <tr>
        <td><%= youtube_channel_review.user_id %></td>
        <td><%= youtube_channel_review.youtube_channel_id %></td>
        <td><%= youtube_channel_review.rating %></td>
        <td><%= youtube_channel_review.review %></td>
        <td><%= link_to 'Show', youtube_channel_review %></td>
        <td><%= link_to 'Edit', edit_youtube_channel_review_path(youtube_channel_review) %></td>
        <td><%= link_to 'Destroy', youtube_channel_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Youtube Channel Review', new_youtube_channel_review_path %>
